.container {
  background: #000 url(bk.png);
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.color-overlay {
  width: 100%;
  height: 100%;
  background: blue;
  opacity: .6;
  position: absolute;
}
h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  z-index: 1;
}
