body{
            background:#f2f2f2;
            cursor: grab;
        }
        .button:hover{
               transform: scale(.9);
               border: .3px solid #f2f2f2;
           }
           .button{
               
               padding:25px;
           }
           img{
               width: 275px;
               border-radius: 8px;
           }
.cent{
                top: 50%;
                left: 50%;
                transform: translate(0%, 80%);
           } 
.ce{
                top: 50%;
                left: 50%;
                transform: translate(0%, 45%);
           }  
.cat{
               width: 200px;
               height: 200px;
               margin: auto;
               display: block;
           }
           .center {
                position: absolute;
                top: 75%;
                left: 25%;
                transform: translate(110%, 10%);
                font-size: 20px;
                color: teal;
                font-family:"Curlz MT",sans-serif;
                
                }
                .center1 {
                position: absolute;
                top: 75%;
                left: 25%;
                transform: translate(225%, 20%);
                font-size: 20px;
                color: teal;
                font-family:"Curlz MT",sans-serif;
                }
.cen{
                top: 50%;
                left: 50%;
                transform: translate(0%, 50%);
           }  